In [1]:
import sys
sys.path.insert(0, '../code/')
import pandas as pd
import covariate
import numpy as np

In [2]:
measurement = pd.read_csv('./data/copd/copd_sincidence.csv', low_memory=False)[['location_id', 'location_name' ,'sex', 'age_start', 'age_end',
        'year_start', 'year_end', 'mean', 'standard_error', 'measure']]
elevation = pd.read_csv('./data/copd/elevation.csv')[['location_id', 'sex_id', 'age_group_id', 'year_id', 'mean_value']]
ldi = pd.read_csv('./data/copd/ldi.csv')[['location_id', 'sex_id', 'age_group_id', 'year_id', 'mean_value']]
sev = pd.read_csv('./data/copd/sev_copd.csv')[['location_id', 'sex_id', 'age_group_id', 'year_id', 'mean_value']]
population = pd.read_csv('./data/pop.csv')[['location_id', 'sex_id', 'age_group_id', 'year_id', 'population']]
measurement.dropna(inplace=True)
sev['age_group_id'] = 22

In [3]:
elevation.dropna(inplace=True)
ldi.dropna(inplace=True)
sev.dropna(inplace=True)
population.dropna(inplace=True)
measurement = measurement.reset_index(drop=True)

In [4]:
measurement.head()

,location_id,location_name,sex,age_start,age_end,year_start,year_end,mean,standard_error,measure
0,71,Australia,Female,50,59,2005,2006,0.108689,0.030,prevalence
1,71,Australia,Female,60,69,2005,2006,0.220574,0.045,prevalence
2,71,Australia,Male,40,49,2005,2006,0.054871,0.019,prevalence
3,71,Australia,Male,50,59,2005,2006,0.083323,0.032,prevalence
4,71,Australia,Male,60,69,2005,2006,0.280452,0.047,prevalence

#### Try on a small subset of data

In [5]:
#subset = np.random.choice(measurement.shape[0], size=1000, replace=False)
#data = measurement.iloc[subset,:].reset_index(drop=True)
#data = measurement[measurement['location_name'].isin(['Australia', 'New Zealand'])].reset_index(drop=True)
data = measurement
print(data.shape)

(15434, 10)

In [6]:
import time
t0 = time.time()
covariate.interpolate(data, {'ldi': ldi, 'elevation': elevation, 'sev': sev}, population);
print('elapsed', time.time() - t0)

time elapsed get_age_year_value 3.3772099018096924
elapsed 66.28619885444641

In [11]:
data.head()

,location_id,location_name,sex,age_start,age_end,year_start,year_end,mean,standard_error,measure,ldi,elevation,sev
0,71,Australia,Female,50,59,2005,2006,0.108689,0.030,prevalence,36840.505572,0.000029,1.539807
1,71,Australia,Female,60,69,2005,2006,0.220574,0.045,prevalence,36840.505572,0.000029,1.539807
2,71,Australia,Male,40,49,2005,2006,0.054871,0.019,prevalence,36840.551490,0.000029,2.119826
3,71,Australia,Male,50,59,2005,2006,0.083323,0.032,prevalence,36840.551490,0.000029,2.119826
4,71,Australia,Male,60,69,2005,2006,0.280452,0.047,prevalence,36840.551490,0.000029,2.119826

In [12]:
data.to_csv('./data/copd/copd_small_cov_ANZ.csv')